.settings-list {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    position: absolute;
    margin: 0px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    top: 0;
    left: 0;
    text-align: center;
    width: 5%;
    height: 100%;
    transition: 0.3s;
    z-index: 1;
    list-style-type: none;
}

.settings-list.active {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 0px;
    padding: 0px;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.7));
}

/* .settings-icon {
    color: black;
    size: 300px;
    justify-content: 'flex-start';
    z-index: 3;
    margin: 10px;
    left: -50%;
} */
.setting-list-row-container{
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 5px;
}

.setting-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
}

.setting-title.top{
    display: flex;
    flex-direction: row;
    margin-top:60px;
    align-items: center;
    padding: 10px 20px;


}

.setting-title p{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 700;
    font-size: 1.35em;
    color: #16181B;
}

.setting-option{
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
    cursor: pointer;
}

.setting-option-disabled{
    display: flex;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1.5rem;
    pointer-events: none;
    cursor: not-allowed;
    background: linear-gradient(to left top, rgba(240, 240, 240, 0.7), rgba(240, 240, 240, 0.5));
    box-shadow: 6px 6px 20px rgba(122,122, 122, 0.1);

}
.setting-option-disabled:hover{
    cursor: not-allowed;
}
#select {
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
    cursor: pointer;
    border: 5px solid #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

@media screen and (max-width:800px) {
    .settings-list {
        /* flex: 1; */
        min-width: 5%;
    }

    .settings-list.active {
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.7));
    }

    .setting-title.top{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .setting-title.top p {
        padding: 0px;
        margin: 0px;
    }

    .setting-title{
        display: flex;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .setting-list-row-container{
        display: flex;
        padding: 0px;
        margin: 0px;
        gap: 5px;
    }

    .setting-option{
        display: flex;
        background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
        border-radius: 1rem;
        margin: 0.5rem 0rem;
        padding: 1rem;
        box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
        cursor: pointer;
    }
    .setting-option-disabled{

        padding: 1rem;

    }

    #select {
        display: flex;
        background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
        border-radius: 1rem;
        margin: 0.5rem 0rem;
        padding: 0.5rem;
        box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
        cursor: pointer;
        border: 5px solid #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
    
}

@media screen and (max-width:300px) {
    .settings-list {
        min-width: 5%;

    }

    .settings-list.active {
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.7));
    }

    .setting-title.top{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .setting-title{
        display: flex;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .setting-list-row-container{
        display: flex;
        padding: 0px;
        margin: 0px;
        gap: 5px;
    }

    .setting-option{
        padding: 0.3rem;
    }

    #select {
        padding: 0.3rem;
    }

    .setting-option-disabled{
        display: flex;
        border-radius: 1rem;
        margin: 0.5rem 0rem;
        padding: 3px;
        pointer-events: none;
        cursor: not-allowed;
        background: linear-gradient(to left top, rgba(240, 240, 240, 0.7), rgba(240, 240, 240, 0.5));
        box-shadow: 6px 6px 20px rgba(122,122, 122, 0.1);
    
    }
    .setting-option-disabled:hover{
        cursor: not-allowed;
    }
    
}
.test-icon{
    padding: 10px;
}