.btn-genre{
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
    cursor: pointer;
  }

#select {
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
    cursor: pointer;
    border: 5px solid #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#not-select {
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.4), rgba(255,255,255,0.15));
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1.3rem;
    box-shadow: 6px 6px 20px rgba(122,122, 122, 0.25);
}